.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.account {
  border-bottom: 1px solid #333333;
}

.banner {
  box-shadow: 1px 1px 10px #333333;
  z-index: 99;
}

.carousel-caption {
  text-shadow: 1px 1px 1px #333333;
}

.carousel .img-fluid {
  max-height: 20em;
}

.blurme {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.topspacer {
  margin-top: 1em;
}

.box {
  border: 1px solid #666666;
  border-radius: 5px;
  padding: 1em;
  height: 100%;
}